$white: #fff;
$black: #000;
$sign-up-hover: #3fbf3f;
$login-hover: #7f3fbf;
$gray: #808080;
$top-bar: #808080;
$default-background: #eee;
$color-choice-green: #1da362;
$color-choice-blue: #1f1da3;
$color-choice-red: #a31f1d;
$color-choice-purple: #621da3;
