$white: #fff;
$black: #000;
$sign-up-hover: #3fbf3f;
$login-hover: #7f3fbf;
$gray: #808080;
$top-bar: #808080;
$default-background: #eee;
$color-choice-red:#b40e2f;
$color-choice-green: green;
$color-choice-1: #fafaff;
$color-choice-2: #e4d9ff;
$color-choice-3: #273496;
$color-choice-4: #1e2749;
$color-choice-5: #30343f;
