.top-left:hover {
  background: #bf3f3b;
}

.top-center:hover {
  background: #bf7f3f;
}

.top-right:hover {
  background: #7fbf3f;
}

.center-left:hover {
  background:#3fbf3f;
}

.center-center:hover {
  background: #3fbf7f;
}

.center-right:hover {
  background: #3f3fbf;
}

.bottom-left:hover {
  background: #7f3fbf;
}

.bottom-center:hover {
  background: #bf3fbf;
}

.bottom-right:hover {
  background: #262672;
}
