.top-left:hover {
  background: $color-choice-1;
}

.top-center:hover {
  background: $color-choice-2;
}

.top-right:hover {
  background: $color-choice-3;
}

.center-left:hover {
  background:$color-choice-4;
}

.center-center:hover {
  background: $color-choice-5;
}

.center-right:hover {
  background: $color-choice-1;
}

.bottom-left:hover {
  background: $color-choice-2;
}

.bottom-center:hover {
  background: $color-choice-3;
}

.bottom-right:hover {
  background: $color-choice-4;
}

.new-game-button:hover{
  background: $top-bar;
}
