body {
  background: $default-background;
  margin: 0;
}

.top-bar {
  background: $top-bar;
  border-bottom: $border-gray;
  box-sizing: border-box;
  height: 50px;
  padding: 2px 40px;
  width: 100%;
}

.top-button {
  background: $default-background;
  border: $border-black;
  border-radius: 5%;
  box-sizing: border-box;
  float: right;
  height: 100%;
  margin-left: 50px;
  padding-top: 15px;
  text-align: center;
  transition: .25s ease;
  width: 80px;
  z-index: 1;
}

.title {
  float: left;
  margin-left: 5px;
  width: 100px;

}

.login:hover {
  background: $login-hover;
  color: $white;
}

.login-clicked {
  background: $login-hover;
  color: $white;
}

.login-fields {
  background: $login-hover;
  border: $border-black;
  box-sizing: border-box;
  display: none;
  height: 200px;
  padding: 3px 10px;
  position: absolute;
  right: 15px;
  top: 50px;
  width: 236px;
  z-index: 1;
}

.login-fields input {
  border-radius: 5%;
  display: block;
  font-size: 18px;
  height: 35px;
  margin: 15px 0;
  width: 90%;
}

.sign-up:hover {
  background: $sign-up-hover;
  color: $white;
}

.sign-up-clicked {
  background: $sign-up-hover;
  color: $white;
}

.sign-up-fields {
  background: $sign-up-hover;
  border: $border-black;
  box-sizing: border-box;
  display: none;
  height: 230px;
  padding: 3px 10px;
  position: absolute;
  right: 15px;
  top: 50px;
  width: 236px;
  z-index: 1;
}

.sign-up-fields input {
  border-radius: 5%;
  display: block;
  font-size: 18px;
  height: 35px;
  margin: 15px 0;
  width: 90%;
}

.log-out {
  display: none;
}

.change-password {
  display: none;
}

.content-container {
  border-left: $border-gray;
  border-right: $border-gray;
  margin: $margin-centered;
  max-width: 960px;
  padding: 0 15px;
  position: relative;
  top: 25px;
}

.user-box {
  border-radius: 5%;
  box-sizing: border-box;
  font-size: 25px;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  transition: .25s ease;
  width: 200px;
}

.player1-box {
  background: $color-choice-player1;
  float: left;
}

.player2-box {
  background: $color-choice-player2;
  float: right;
  text-align: right;
}

.top-box {
  border-radius: 5%;
  box-sizing: border-box;
  clear: both;
  color: $default-background;
  font-size: 25px;
  margin: 0 auto;
  min-height: 75px;
  opacity: 0;
  padding: 4px;
  text-align: center;
  transition: .25s ease;
  width: 175px;
}


table {
  box-sizing: border-box;
  color: $gray;
  height: 400px;
  margin: $margin-centered;
  position: relative;
  top: 13px;
  width: 400px;
}

td {
  border-radius: 5%;
  font-size: 30px;
  height: 40px;
  text-align: center;
  transition: .3s ease;
  width: 40px;
 }

td:hover {
  color: $white;
 }


.center-col {
  border-left: $border-black;
  border-right: $border-black;
}

.center-row {
  border-bottom: $border-black;
  border-top: $border-black;
}

.new-game-button {
  border: $border-black;
  border-radius: 5%;
  box-sizing: border-box;
  height: 50px;
  margin: 40px auto;
  padding-top: 15px;
  text-align: center;
  transition: .25s ease;
  width: 105px;
}


.player1 {
  color: $color-choice-player1;
}

.player2 {
  color: $color-choice-player2;
}

@media(max-width:460px){
  .container {
    width: 100%;
  }

  .login,
  .sign-up {
    margin-left: 5px;
  }

  .user-box {
    width: 50%;
  }


  table {
    height: 350px;
    width: 100%;
  }
}
